@reference "tailwindcss";

@layer base {
    .budgetCard__container {
        @apply rounded-xl border-0 shadow-lg shadow-black/50 sm:max-w-11/12 sm:mx-auto;
        @apply grid grid-cols-[30%_30%_30%_5%_5%] sm:grid-cols-[50%_20%_20%_5%_5%];
        @apply my-15 p-8 sm:p-10 items-center;
    }

    .budgetCard__container--selected {
        @apply border-blue-500 border;
    }
    
    .budgetCard__dobleRow {
        @apply col-start-1 col-end-3 row-span-1;
    }
}
