@reference "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@layer base {
  .gradientBackground {
    @apply bg-linear-to-br from-purple-600 via-blue-600 to-cyan-400;
  }

  .mainTitle {
    @apply text-4xl md:text-6xl font-extrabold leading-tight drop-shadow-lg;
  }

  .title {
    @apply font-bold text-2xl;
  }

  .button {
    @apply bg-blue-600 text-white px-6 py-3 rounded-xl font-semibold shadow-lg hover:bg-blue-400 transition;
  }

  .container {
    @apply sm:max-w-11/12 sm:mx-auto;
  }

  .dropShadow {
    @apply shadow-lg shadow-black/50;
  }

  input::placeholder {
    @apply text-xs;
  }
}