@reference "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.gradientBackground {
  @apply bg-linear-to-br from-purple-600 via-blue-600 to-cyan-400;
}

.mainTitle {
  @apply text-4xl md:text-6xl font-extrabold leading-tight drop-shadow-lg;
}
