@reference "tailwindcss";

@layer base {
.modal {
  @apply fixed z-1 left-0 top-0 w-full h-full overflow-auto bg-[rgba(0,0,0,0.4)];
}

.modalContent p {
  @apply mt-4 text-center flex-33;
}

.modalContent {
  @apply bg-white my-[15%] mx-auto p-5 border border-gray-500 w-[80%] h-[30%] rounded-xl;
  @apply flex items-center;
}

.close {
  @apply text-gray-400 text-xl font-bold flex-1 self-start;
}

.close:hover,
.close:focus {
  @apply text-black cursor-pointer;
}
}
