@reference "tailwindcss";

@layer base {
    .budgetExtras__button {
        @apply cursor-pointer rounded-full border-gray-400 border m-1 leading-4 p-[0.2rem];
    }

    .budgetExtras__value {
        @apply rounded border-gray-400 border text-sm sm:text-base m-0 sm:m-1 w-7 sm:w-10 p-1 text-center font-bold;
    }
}