@reference "tailwindcss";

@layer base {
    .budget__header {
        @apply rounded-xl  h-32 justify-center flex items-center bg-[url('./src/components/BudgetManager/assets/images/background-header.png')];
    }
}